
*{
  margin: 0;
  padding: 0;
  color: white;
}

.container {  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.842);
}

.w-50{
  width: 45%;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-wrap: wrap;
}

.datos{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
}

.juego{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-input{
  border: 3px solid black;
  outline:none;
  display:inline-block;
  height:80px;
  border-radius: 50px;
  width:90%;
  box-sizing:border-box;
  text-align: center;
  padding:0 18px; 
  font-size: 40px;
  margin-bottom: 15px;
  color: #1466c3;
  transition: 125ms all ease-out;
}

.text-input:focus{
  border: 3px solid #1466c3;
}
.send-button{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #1466c3;
  border: 2px solid #1466c3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: 200ms all ease-in-out;
}

.send-button:hover{
  background-color: white;
  border: 2px solid white;
  color: #1466c3;
  cursor: pointer;
}

.help-button{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;
  border: 2px solid white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  transition: 200ms all ease-in-out;
}

.help-button:hover{
  background-color: rgba(216, 216, 216, 0.815);
  color: black;
  cursor: pointer;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bandera{
  margin-top: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 700px;
  max-height: 500px;
  border-radius: 20px;
  border:3px solid white;  
  transition: 200ms all ease-in-out;
}

.bandera:hover{
  transform: scale(1.1);
}

.ayuda{
  margin-top: 20px;
  color: #377fd1;
}


