
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgba(165, 222, 249, 0.726); */
    background-color: aliceblue;
}

h1{font-size: 2.3rem;}

.container{
    display: flex;
    padding: 0.5rem 1rem;
}

.col-50{
    width: 50%;
    padding: 0.8rem;
}

#lista-pokemones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none
}

.card-pokemon{
    margin: 2rem;
    padding: 1.5rem;
    padding-top: 4rem;
    width: 275px;
    height: 275px;
    border-radius: 1rem;
    border: 1px solid red;    
    overflow: hidden;
    text-align: center;
    background-color: white;
    position: inherit;
    transition: all 200ms ease-in-out;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.42);
    
}

.card-pokemon:hover{    
    width: 300px;
    height: 300px;
    cursor: pointer;
    box-shadow: 10px 10px 69px 0px rgba(0,0,0,0.42);
    
}

.card-informacion{
    display: block;
    position: fixed;
    top: 10%;
    left: 60%;
    width: 60vh;
    height: 80vh;
    background-color: white;
    border-radius: 1rem;
    padding: 4rem;
    box-shadow: 2px 10px 31px -1px rgba(0,0,0,1);
    overflow: hidden;
}

.circulo{
    position: absolute;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
    background: red;
    border-radius: 50%;
    width: 900px;
    height: 850px;
    z-index: -1;
}

.card-informacion h1{
    margin-top: 110px;
    color: black;
    font-size: 4rem;
    
}

.card-informacion img{
    position: relative;
    top: 100px;
    width: 15vw;
}

.encabezado{
    text-align: center;
}

.informacion{
    position: absolute;
    column-count: 3;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* margin-top: 30%; */
}

.informacion h2{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}

.informacion h4{
    color: black;
    font-weight:normal;
}

