
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(165, 222, 249, 0.726);
}

h1{
    font-size: 2.5rem;
}

.container{
    display: flex;
    padding: 0.5rem 1rem;
}

.col-50{
    width: 50%;
    padding: 0.8rem;
}

#lista-pokemones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none
}

.card-pokemon{
    margin: 2rem;
    padding: 1.5rem;
    padding-top: 4rem;
    width: 275px;
    height: 275px;
    border-radius: 1rem;
    border: 1px solid rgb(249, 225, 93);    
    overflow: hidden;
    text-align: center;
    background-color: white;
    position: inherit;
    
}

.card-pokemon:hover > #boton-mostrar-pokemon{    
    opacity: 1;    
}

#boton-mostrar-pokemon{
    position: relative;
    bottom: 3rem;
    width: 200px;
    height: 75px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: rgb(249, 225, 93);
    font-size: 1.2rem;
    transition: all ease-in-out 150ms;
    font-weight: bold;    

    opacity: 0;
}

#boton-mostrar-pokemon:hover{
    border: 1px solid rgb(249, 225, 93);
    background-color: white;
    font-size: 1.2rem;
    color: rgb(232, 166, 40);
    cursor: pointer;
}

.card-informacion{
    display: none;
    position: fixed;
    top: 10%;
    left: 60%;
    width: 60vh;
    height: 80vh;
    background-color: rgb(249, 225, 93);
    border-radius: 1rem;
    border: 3px solid white;
    padding: 4rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.67);
}

.card-informacion h1{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    
}

.card-informacion img{
    position: relative;
    top: -20px;
    width: 300px;
}

.encabezado{
    text-align: center;
}

